<ion-header>
  <ion-toolbar>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{loadedPlaces[0].title}}</ion-card-title>
            <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
            <p>{{loadedPlaces[0].description}}</p>
            <ion-card-subtitle>
              {{loadedPlaces[0].price | currency:'CLP': 'AU$ '}} / Night
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="text-center">
        <ion-item *ngFor="let place of loadedPlaces.slice(1)">
          <ion-thumbnail slot="start">
            <ion-img [src]="place.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h3>{{place.title}}</h3>
            <p>{{place.description}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
